
.logo {
  border: 2px solid slategrey;
  color: black;
  padding: 5px 5px;
  width: 35px;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
}

.link {
  text-decoration: none;
  margin: 10px 20px 10px 0px;
}
nav {
  background-color: lightgray;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
